.header {
  text-align: center;
}
.search_bar {
  width: 50%;
  height: 30px;
}
.word_block {
  height: 30px;
}
.word {
  width: 10%;
}
.meaning {
  width: 45%;
}
.table {
  width: 90%;
  margin: 0 auto;
}
.div_search {
  text-align: center;
}