.header {
  text-align: center;
}
.search_bar {
  width: 50%;
  height: 30px;
}
.word_block {
  width: 50%;
  height: 50px;
  margin: 10px 0;
  display: inline-block;
}
.word_block :first-child {
  font-size: larger;
}

.table {
  width: 90%;
  margin: 0 auto;
}
.table p {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.div_search {
  text-align: center;
}